.vertical_metrics {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  position: relative;
}

.vertical_metrics div {
  position: absolute;
  bottom: 0;
  writing-mode: vertical-lr;
}

.four {
  background-color: green;
  height: 100%;
}

.third {
  background-color: green;
  height: 50%;
}

.second {
  background-color: aqua;
  height: 30%;
}
.first{
  background-color: yellow;
}


@media screen and (min-width: 800px){
    .vertical_metrics div {
        writing-mode: horizontal-tb;
        width: 100%;
        text-align: right;
    }
}